<a href='/'>トップに戻る</a>
<p>検索したい人の情報を入力してください。(RegEx指定が可能)</p>
<form action='/searched' method='post'>
  <div data-role="fieldcontain">
    <label for="tel">キーワード:</label>
    <input type="text" name="keyword" id="keyword" value=""  />
  </div>
  <input type='submit' value='検索'>
</form>
